db.sqlite3
paymetApi/__init__.py
paymetApi/__pycache__/__init__.cpython-38.pyc

paymets/__init__.py
paymetApi/migrations/__init__.py

paymets/__pycache__/__init__.cpython-38.pyc
paymets/.env
paymetApi/__pycache__
paymets/__pycache__