db.sqlite3
paymatesApi/__init__.py
paymatesApi/__pycache__/__init__.cpython-38.pyc

paymates/__init__.py
paymatesApi/migrations/__init__.py

paymates/__pycache__/__init__.cpython-38.pyc
paymates/.env
paymatesApi/__pycache__
paymates/__pycache__
paymatesApi/migrations/__pycache__/__init__.cpython-310.pyc
